@import "./colors.css";

@layer utilities {
  .bg-default { background-color: var(--color-white); }
  .bg-content { background-color: var(--color-neutral-100); }
  .bg-body { background-color: var(--color-neutral-400); }
  .bg-subtle { background-color: var(--color-neutral-50); }
  .bg-disabled { background-color: var(--color-neutral-100); }

  .bg-primary { background-color: var(--color-primary, #5e4684); }
  .bg-primary-light { background-color: var(--color-primary-light); }
  .bg-primary-dark { background-color: var(--color-primary-dark); }
  .bg-secondary { background-color: var(--color-secondary); }
  .bg-secondary-light { background-color: var(--color-secondary-light); }
  .bg-secondary-dark { background-color: var(--color-secondary-dark); }
  .bg-warning { background-color: var(--color-warning); }
  .bg-warning-light { background-color: var(--color-warning-light); }
  .bg-warning-dark { background-color: var(--color-warning-dark); }
  .bg-success { background-color: var(--color-success); }
  .bg-success-light { background-color: var(--color-success-light); }
  .bg-success-dark { background-color: var(--color-success-dark); }
  .bg-error { background-color: var(--color-error); }
  .bg-error-light { background-color: var(--color-error-light); }
  .bg-error-dark { background-color: var(--color-error-dark); }
  .bg-info { background-color: var(--color-info); }
  .bg-info-light { background-color: var(--color-info-light); }
  .bg-info-dark { background-color: var(--color-info-dark); }
  .bg-primary-opacity { background-color: var(--color-primary-opacity); }
  .bg-secondary-opacity { background-color: var(--color-secondary-opacity); }
  .bg-warning-opacity { background-color: var(--color-warning-opacity); }
  .bg-success-opacity { background-color: var(--color-success-opacity); }
  .bg-info-opacity { background-color: var(--color-info-opacity); }
  .bg-error-opacity { background-color: var(--color-error-opacity); }
  .bg-primary-95 { background-color: rgba(94, 70, 132, 0.95); }

  .bg-tangerine-100 { background-color: var(--color-tangerine-100); }
  .bg-tangerine-200 { background-color: var(--color-tangerine-200); }
  .bg-tangerine-300 { background-color: var(--color-tangerine-300); }
  .bg-tangerine-400 { background-color: var(--color-tangerine-400); }
  .bg-tangerine-500 { background-color: var(--color-tangerine-500); }
  .bg-tangerine-600 { background-color: var(--color-tangerine-600); }
  .bg-tangerine-700 { background-color: var(--color-tangerine-700); }
  .bg-tangerine-800 { background-color: var(--color-tangerine-800); }
  .bg-tangerine-900 { background-color: var(--color-tangerine-900); }
  .bg-tangerine-1000 { background-color: var(--color-tangerine-1000); }

  .bg-sunset-100 { background-color: var(--color-sunset-100); }
  .bg-sunset-200 { background-color: var(--color-sunset-200); }
  .bg-sunset-300 { background-color: var(--color-sunset-300); }
  .bg-sunset-400 { background-color: var(--color-sunset-400); }
  .bg-sunset-500 { background-color: var(--color-sunset-500); }
  .bg-sunset-600 { background-color: var(--color-sunset-600); }
  .bg-sunset-700 { background-color: var(--color-sunset-700); }
  .bg-sunset-800 { background-color: var(--color-sunset-800); }
  .bg-sunset-900 { background-color: var(--color-sunset-900); }
  .bg-sunset-1000 { background-color: var(--color-sunset-1000); }
  
  .bg-cyan-100 { background-color: var(--color-cyan-100); }
  .bg-cyan-200 { background-color: var(--color-cyan-200); }
  .bg-cyan-300 { background-color: var(--color-cyan-300); }
  .bg-cyan-400 { background-color: var(--color-cyan-400); }
  .bg-cyan-500 { background-color: var(--color-cyan-500); }
  .bg-cyan-600 { background-color: var(--color-cyan-600); }
  .bg-cyan-700 { background-color: var(--color-cyan-700); }
  .bg-cyan-800 { background-color: var(--color-cyan-800); }
  .bg-cyan-900 { background-color: var(--color-cyan-900); }
  .bg-cyan-1000 { background-color: var(--color-cyan-1000); }
  
  .bg-blush-100 { background-color: var(--color-blush-100); }
  .bg-blush-200 { background-color: var(--color-blush-200); }
  .bg-blush-300 { background-color: var(--color-blush-300); }
  .bg-blush-400 { background-color: var(--color-blush-400); }
  .bg-blush-500 { background-color: var(--color-blush-500); }
  .bg-blush-600 { background-color: var(--color-blush-600); }
  .bg-blush-700 { background-color: var(--color-blush-700); }
  .bg-blush-800 { background-color: var(--color-blush-800); }
  .bg-blush-900 { background-color: var(--color-blush-900); }
  .bg-blush-1000 { background-color: var(--color-blush-1000); }
  
  .bg-teal-100 { background-color: var(--color-teal-100); }
  .bg-teal-200 { background-color: var(--color-teal-200); }
  .bg-teal-300 { background-color: var(--color-teal-300); }
  .bg-teal-400 { background-color: var(--color-teal-400); }
  .bg-teal-500 { background-color: var(--color-teal-500); }
  .bg-teal-600 { background-color: var(--color-teal-600); }
  .bg-teal-700 { background-color: var(--color-teal-700); }
  .bg-teal-800 { background-color: var(--color-teal-800); }
  .bg-teal-900 { background-color: var(--color-teal-900); }
  .bg-teal-1000 { background-color: var(--color-teal-1000); }
  
  .bg-grape-100 { background-color: var(--color-grape-100); }
  .bg-grape-200 { background-color: var(--color-grape-200); }
  .bg-grape-300 { background-color: var(--color-grape-300); }
  .bg-grape-400 { background-color: var(--color-grape-400); }
  .bg-grape-500 { background-color: var(--color-grape-500); }
  .bg-grape-600 { background-color: var(--color-grape-600); }
  .bg-grape-700 { background-color: var(--color-grape-700); }
  .bg-grape-800 { background-color: var(--color-grape-800); }
  .bg-grape-900 { background-color: var(--color-grape-900); }
  .bg-grape-1000 { background-color: var(--color-grape-1000); }
  
  .bg-mint-100 { background-color: var(--color-mint-100); }
  .bg-mint-200 { background-color: var(--color-mint-200); }
  .bg-mint-300 { background-color: var(--color-mint-300); }
  .bg-mint-400 { background-color: var(--color-mint-400); }
  .bg-mint-500 { background-color: var(--color-mint-500); }
  .bg-mint-600 { background-color: var(--color-mint-600); }
  .bg-mint-700 { background-color: var(--color-mint-700); }
  .bg-mint-800 { background-color: var(--color-mint-800); }
  .bg-mint-900 { background-color: var(--color-mint-900); }
  .bg-mint-1000 { background-color: var(--color-mint-1000); }
  
  .bg-white { background-color: var(--color-white); }
  .bg-black { background-color: var(--color-black); }

  .bg-neutral-100 { background-color: var(--color-neutral-100); }
  .bg-neutral-200 { background-color: var(--color-neutral-200); }
  .bg-neutral-300 { background-color: var(--color-neutral-300); }
  .bg-neutral-400 { background-color: var(--color-neutral-400); }
  .bg-neutral-500 { background-color: var(--color-neutral-500); }
  .bg-neutral-600 { background-color: var(--color-neutral-600); }
  .bg-neutral-700 { background-color: var(--color-neutral-700); }
  .bg-neutral-800 { background-color: var(--color-neutral-800); }
  .bg-neutral-900 { background-color: var(--color-neutral-900); }

  .hover\:bg-primary:hover { background-color: var(--color-primary); }
  .hover\:bg-primary-light:hover { background-color: var(--color-primary-light); }
  .hover\:bg-primary-dark:hover { background-color: var(--color-primary-dark); }
  .hover\:bg-primary-opacity:hover { background-color: var(--color-primary-opacity); }
  .hover\:bg-secondary:hover { background-color: var(--color-secondary); }
  .hover\:bg-secondary-light:hover { background-color: var(--color-secondary-light); }
  .hover\:bg-secondary-dark:hover { background-color: var(--color-secondary-dark); }
  .hover\:bg-secondary-opacity:hover { background-color: var(--color-secondary-opacity); }
  .hover\:bg-warning:hover { background-color: var(--color-warning); }
  .hover\:bg-warning-light:hover { background-color: var(--color-warning-light); }
  .hover\:bg-warning-dark:hover { background-color: var(--color-warning-dark); }
  .hover\:bg-warning-opacity:hover { background-color: var(--color-warning-opacity); }
  .hover\:bg-success:hover { background-color: var(--color-success); }
  .hover\:bg-success-light:hover { background-color: var(--color-success-light); }
  .hover\:bg-success-dark:hover { background-color: var(--color-success-dark); }
  .hover\:bg-success-opacity:hover { background-color: var(--color-success-opacity); }
  .hover\:bg-error:hover { background-color: var(--color-error); }
  .hover\:bg-error-light:hover { background-color: var(--color-error-light); }
  .hover\:bg-error-dark:hover { background-color: var(--color-error-dark); }
  .hover\:bg-error-opacity:hover { background-color: var(--color-error-opacity); }
  .hover\:bg-info:hover { background-color: var(--color-info); }
  .hover\:bg-info-light:hover { background-color: var(--color-info-light); }
  .hover\:bg-info-dark:hover { background-color: var(--color-info-dark); }
  .hover\:bg-info-opacity:hover { background-color: var(--color-info-opacity); }
  .hover\:bg-neutral-200:hover { background-color: var(--color-neutral-200); }
  .hover\:bg-neutral-300:hover { background-color: var(--color-neutral-300); }
  .hover\:bg-neutral-900:hover { background-color: var(--color-neutral-900); }

  .bg-badge-primary { background-color: var(--color-grape-300-opacity); }
  .bg-badge-secondary { background-color: var(--color-teal-200-opacity); }
  .bg-badge-critical { background-color: var(--color-blush-300-opacity); }
  .bg-badge-neutral { background-color: var(--color-neutral-400); }
  .bg-badge-default { background-color: var(--color-neutral-1000); }
  .bg-badge-contrast { background-color: var(--color-white-opacity); }
  .bg-grape-light { background-color: var(--color-grape-light); }
  .bg-teal-light { background-color: var(--color-teal-light); }
  .bg-blush-light { background-color: var(--color-blush-light); }
}